extends layouts/layout

block content
  h2 Admin Dashboard
  p Olá #{user.username}, estás na área de administração.
  ul
    li: a(href="/admin/users")      Gerir utilizadores
    li: a(href="/admin/resources")  Gerir recursos
    li: a(href="/admin/news")       Gerir notícias
    li: a(href="/admin/stats")      Ver estatísticas
  p: a(href="/logout") Sair
