extends ../layouts/layout

block content
  .container
  .container
  h2 Importar SIP
  form.form.form(method="post", action="http://localhost:3001/api/admin/resources", enctype="mul.resource-li.resource-item.cardsttipart/form-data", data-ajax, data-redirect="/admin/resources")
    div
      label Escolher ficheiro ZIP
      input.form-control(type="file", name="sip")
    button.btn(type="submit") Upload