doctype html
html
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Eu Digital | #{title}
    link(rel="stylesheet", href="/css/styles.css")
  body
    header
      nav
        h1 Eu Digital
    main
      block content
    footer
      p © 2025 Eu Digital Project
